@page
@model WebApplication1.Pages.students.studentModel
@{
    ViewData["Title"] = "Students";
    ViewData["ShowButtons"] = true;
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SuccessMessage"]

    </div>

}

<form method="get" class="mb-3">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm" />
        <div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

@*@await Component.InvokeAsync("HeadCound")*@
<vc:head-count department="@null"></vc:head-count>

<h1>Студентики</h1>

<div class="row">


    @foreach (var item in Model.Students)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <partial name="_DisplayStudentPartial" model="item" view-data="ViewData" />
        </div>
    }
</div>
