@page
@model WebApplication1.Pages.NotFoundModel

@{     
    ViewData["Title"] = "NotFound";
}

<div class="row">
    <div class="col text-center">
        <img src="/images/NotFound.jpg" alt="Page not found" />
    </div>

</div>

    <div class="row">
        <div class="col text-center">

            <h1>От бідося, файл то не знайдено:(</h1>
            <a asp-page="/students/student" class="btn btn-primary">ПОвернутися у минуле</a>
       </div>
     </div>
